<div class="sticky-container">
  {% assign collection = section.settings.collection %}
  <div class="sticky-left">

    {% for product in collection.products %}
      <div class="sticky-prod-container" onclick="location.href='{{product.url}}';" onmouseover="showProd(this, true);" onmouseleave="showProd(this, false)">
        <img class="sticky-product-pic" src={{ product.featured_image | img_url: '400x'  }} />
        <div class="sticky-desc">{{ product.title }}&nbsp &#xb7 &nbsp {{ product.price | money }}</div>
      </div>
    {% endfor %}

  </div>
  <div class="sticky-right">
    <h2>{{ collection.title }}</h2>
    <p>{{ collection.description }}</p>
    <p>Browse collection <a href="{{collection.url}}">here</a></p>
  </div>
</div>

<script>
  function showProd(evt, show) {
    var desc = evt.children[1]
    if (show) {
      desc.style.transform = "translateY(-50px)";	
    }
    else {
      desc.style.transform = "translateY(0px)";	
    }
    
  }
</script>

<style>
  .sticky-container {
    display: flex;
    margin: 1em;
    padding: 1em;
    justify-content: space-around;
    position: relative;
  }


  .sticky-left {
    width: 60%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 5px #00000050;
    
  }

  .sticky-right {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 50%;
    width: 40%;
    padding-left: 2em;
  }
  
  .sticky-product-pic {
    vertical-align: middle;
	width: 100%;
    object-fit: cover;
    transition: all .5s linear;
  }
  
  .sticky-product-pic:hover {
    transform: scale(1.05);
    opacity: 0.5;
  }
  
  .sticky-prod-container {
    position: relative;
    width: 47%;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .sticky-desc {
    text-align: center;
    position: absolute;
    left: 1em;
    transition: transform .2s linear;
  }

  
  @media (max-width: 600px) {
    .sticky-container { flex-direction: column; }
    .sticky-left { width: 100% }
    .sticky-product-pic { width: 100% }
    .sticky-right { width: 100%; padding: 0; margin-top: 2em; }
    .sticky-prod-container { width: 100% }
    .sticky-desc { position: relative; }
  }
</style>

{% schema %}
  {
    "name": "Sticky Collection Info",
    "settings": [
      {
        "label": "Collection",
        "id": "collection",
        "type": "collection"
      }
	],
	"presets": [
	  {
		"category": "collection",
		"name": "Sticky Collection Info"
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
